Question 1.1: Write the Answer to these questions. Note: Give at least one example for each of the questions.

1.	What is the difference between static and dynamic variables in Python?

In [1]:
#Example:
class MyClass:
    static_var = 10 #Static variable
    def __init__(self,value):
        self.dynamic_var = value #Dynamic variable
obj1 = MyClass(20)
obj2 = MyClass(30)
print(obj1.static_var) #Accessing static variable
print(obj1.dynamic_var) #Accessing dynamic variable

10
20

2.	Explain the purpose of "pop","popitem","clear()" in a dictionary with suitable examples.

In [2]:
#Example:
my_dict = {'a':1, 'b':2, 'c':3}
my_dict.pop('b')
print(my_dict)

popped_item = my_dict.popitem()
print(popped_item)

my_dict.clear()
print(my_dict)

{'a': 1, 'c': 3}
('c', 3)
{}

3.	What do you mean by FrozenSet? Explain it with suitable examples.

In [8]:
#Example:
my_set = {1,2,3}
frozen_set = frozenset(my_set)

my_set.add(4)
print(my_set)

# frozen_set.add(4) Now you can't add or remove elements from frozen_set
# print(frozen_set)

{1, 2, 3, 4}

4.	Differentiate between mutable and immutable data types in Python and give examples of mutable and immutable data types.

In [10]:
#Example:
#Mutable (list)
my_list = [1,2,3]
my_list.append(4) #Modifies the list

#Immutable (tuple)
my_tuple = (1,2,3)
# my_tuple.append(4)  Error: Tupes are immutable

5.	What is __init__?Explain with an example.

In [11]:
#Example:
class Person:
    def __init__(self, name, age):
        self.name = name
        self.age = age
person1 = Person("Alice", 30)
print(person1.name, person1.age)

Alice 30

6.	What is docstring in Python? Explain with an example.

In [12]:
#Example:
def add(a, b):
    """ 
    Adds two numbers and retuens the result
    : param a : First number
    : param b : Second number
    : return : Sum of a and b
    """
    return a + b

add(5, 6)

11

7.	What are unit tests in Python?

In [18]:
#Example:
import unittest
def add(a, b):
    return a + b
class TestAddFunction(unittest.TestCase):
    def test_add_positive_numbers(self):
        self.assertEqual(add(2,3), 5)
    def test_add_negative_numbers(self):
        self.assertEqual(add(-2,-3), -5)

# if __name__ == '__main__':
#     unittest.main()

8.	What is break, continue and pass in Python?

In [21]:
#Example:
for i in range(5):
    if i == 2:
        break
    print(i, end=" ")
    print()

for j in range(5):
    if j == 2:
        continue
    print(j, end=" ")

def placeholder_function():
    pass

0
1
0 1 3 4

9.	What is the use of self in Python?

In [22]:
#Example:
class Person:
    def __init__(self, name):
        self.name = name
    def greet(self):
        print(f"Hello, my name is {self.name}")
person = Person("Alice")
person.greet()

Hello, my name is Alice

10.	What are global, protected and private attributes in Python?

In [24]:
#Example:
global_var = 42
class MyClass:
    def __init__(self):
        self._protected_var = 10
        self.__private_var = 20
obj = MyClass()
print(obj._protected_var)
#print(obj.__private_var) #Error: name mangling makes it private

10

11.	What are modules and packages in Python?

In [25]:
#Example:
import my_module
print(my_module.greet("Alice"))

Hello, Alice!

12.	What are lists and tuples? What is the key difference between the two?

In [26]:
#Example:
my_list = [1,2,3]
my_tuple = (4,5,6)

13.	What is an Interpreted language & dynamically typed language? Write 5 differences between them.

In [27]:
#Example:
x = 10 #Dynamically typed

14.	What are Dict and List comprehensions?

In [33]:
#Example:
squares = [x**2 for x in range(5)]
print(squares)

names = ['Alice', 'Bob']
name_lengths = {name : len(name) for name in names}
print(name_lengths)

[0, 1, 4, 9, 16]
{'Alice': 5, 'Bob': 3}

15.	What are decorators in Python? Explain it with an example. Write down its use cases.

In [36]:
#Example:
def uppercase_decorator(func):
    def wrapper(*args, **kwargs):
        result = func(*args, **kwargs)
        return result.upper()
    
@uppercase_decorator
def greet(name):
    return f"Hello, {name}!"
#greet("Alice")

16.	How is memory managed in Python?

In [38]:
#Example:
def create_large_list():
    return [0]*10000000
my_list = create_large_list()
#Memory is automatically reclaimed when my_list goes out of scope

17.	What is lambda in Python? Why is it used?

In [39]:
#Example:
add = lambda x,y : x + y
print(add(3,5))

8

18.	Explain split() and join() functions in Python?

In [43]:
#Example:
sentence  = "Hello, World!"
words = sentence.split()
new_sentence = "--".join(words)
print(sentence)
print(words)
print(new_sentence)

Hello, World!
['Hello,', 'World!']
Hello,--World!

19.	What are iterators , iterable & generators in Python?

In [45]:
#Example
def count_up_to(n):
    i = 1
    while i <= n:
        yield i
        i += 1
for num in count_up_to(5):
    print(num)

1
2
3
4
5


20.	What is the difference between xrange and range in Python?

In [47]:
#Example:
# for i in xrange(10**6):
#     pass #Process large range lazily

22.	How will you check if a class is a child of another class?

In [48]:
#Example:
class Parent:
    pass
class Child(Parent):
    pass
print(issubclass(Child, Parent))

True

23.	How does inheritance work in python? Explain all types of inheritance with an example.

In [50]:
#Example:
class Animal:
    def speak(self):
        print("Animal speaks")
class Dog(Animal):
    def bark(self):
        print("Dog barks")
dog = Dog()
dog.speak()
dog.bark()

Animal speaks
Dog barks

24.	What is encapsulation? Explain it with an example.

In [52]:
#Example:
class BankAccount:
    def __init__(self,balance):
        self._balance = balance
    def deposit(self,amount):
        self._balance +=amount
    def get_balance(self):
        return self._balance
account = BankAccount(1000)
account.deposit(500)
account.get_balance()

1500

25.	What is polymorphism?  Explain it with an example.

In [53]:
#Exampple (Method Overriding):
class Shape:
    def area(self):
        pass
class Circle(Shape):
    def __init__(self,radius):
        self.radius = radius
    def area(self):
        return 3.14*self.radius**2
class Rectangle(Shape):
    def __init__(self,length,width):
        self.length = length
        self.width = width
    def area(self):
        return self.length * self.width
    
circle = Circle(5)
rectangle = Rectangle(4,6)
print(circle.area())
print(rectangle.area())

78.5
24

50. Machine Learning.

1.	What is the difference between Series & Dataframes.

In [54]:
#Series 
import pandas as pd 
my_list = [10,20,30,40]
my_series = pd.Series(my_list)
print(my_series)

0    10
1    20
2    30
3    40
dtype: int64

In [56]:
#DataFrame
data = {
    'Name' : ['Alice', 'Bob', 'Charlie'],
    'Age' : [25, 30, 33]
}
df = pd.DataFrame(data)
print(df)

      Name  Age
0    Alice   25
1      Bob   30
2  Charlie   33

2.	Create a database name Travel_Planner in mysql ,and  create a table name bookings in that which having attributes (user_id INT,  flight_id INT,hotel_id INT, activity_id INT,booking_date DATE) . Fill with some dummy value .Now you have to read the content of this table using pandas as dataframe. Show the output.

In [2]:
import pandas as pd
import sqlalchemy
engine = sqlalchemy.create_engine("mysql+pymysql://root:tak.praveen852@localhost:3306/travel_planner")
df = pd.read_sql_table("bookings", engine)
df

   user_id  flight_id  hotel_id  activity_id booking_date
0     1234     852456    321654       789456   2022-12-12
1     4567     951753    789122       456853   2023-07-25
2     6789     456741    524163       753965   2023-12-10
3     9123     963456    748596       456225   2024-01-30
4     5263     852789    636529       456897   2024-02-14

3.	Difference between loc and iloc.

In [69]:
import pandas as pd
data = {
    'A' : [10,20,30],
    'B' : [40,50,60]
}
df = pd.DataFrame(data, index=['row1', 'row2', 'row3'])
print(df)
print()
print(df.loc['row1','B'])
print()
print(df.iloc[0,1])

       A   B
row1  10  40
row2  20  50
row3  30  60

40

40